:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --black-color: #000000;
  --white-color: #ffffff;
  --btn-color: #2196f3;
  --grey-color: #2f303a;
  --sand-color: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--white-color);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.no-style {
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* HEADER */
.header,
.navigation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #eeeeee;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.main-nav > .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.web-logo {
  color: var(--btn-color);
}
.nav-list .link,
.address-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .link.current {
  color: var(--btn-color);
  position: relative;
}
.link.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background: #2196f3;
  border-radius: 2px;
}
.nav-list .link:hover,
.nav-list .link:focus,
.address-list .link:hover,
.address-list .link:focus,
.footer-link .link:hover,
.footer-link .link:focus {
  color: var(--btn-color);
}
.nav-list > .item + .item,
.address-list > .item + .item {
  margin-left: 50px;
}
.nav-list {
  margin-left: 93px;
}
.address-list,
.nav-list {
  display: flex;
}
.address-list {
  margin-left: auto;
}
.nav-list .link,
.address-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.address-list .link {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-address-list {
  margin-right: 30px;
}
.icon-mail,
.icon-tel {
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover .icon-mail,
.link:hover .icon-tel,
.link:focus .icon-mail,
.link:focus .icon-tel {
  fill: currentColor;
}

/* MAIN */
.hero {
  background-color: var(--grey-color);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--btn-color);
  cursor: pointer;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  color: var(--black-color);
  background-color: var(--white-color);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  min-height: 581px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
}
.modal-close > .close {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
  fill: var(--black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover > .close {
  fill: var(--btn-color);
}
.modal-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
  width: 448px;
}
.modal-label > .text,
.comment-label > .text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}
.comment:placeholder-shown {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-left: 16px;
  padding-top: 12px;
}
.modal-label,
.comment-label {
  position: relative;
  display: block;
  width: 448px;
}
.modal-label {
  height: 40px;
  margin-bottom: 28px;
}
.comment-label {
  height: 120px;
  margin-bottom: 20px;
}
.modal-input {
  width: 100%;
  height: 100%;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.comment {
  width: 100%;
  height: 100%;
  resize: none;
  overflow: auto;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
}
.modal-label > .text,
.comment-label > .text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-120%);
}

.modal-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: var(--primary-color);
}
.modal-label:focus-within > .modal-input,
.comment-label:focus-within > .comment {
  border: 1px solid var(--btn-color);
  border-radius: 4px;

  outline: var(--btn-color);
}
.modal-label:focus-within > .modal-icon {
  fill: var(--btn-color);
}

.agreement-label {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.agreement-label > .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.agreement-text {
  text-decoration-line: underline;
  color: var(--btn-color);
}
.agreement-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.icon-check {
  display: inline-block;

  border-radius: 2px;
  border: 2px var(--black-color) solid;
  margin-right: 8px;
}
.agreement-checkbox:checked + .icon-check {
  background-color: var(--btn-color);
  border: none;
}
.modal-button {
  display: flex;
  justify-content: center;
}
.modal-submit {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.values {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}
.values-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.values-list {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
}
.values-list > .values-text + .values-text {
  margin-left: 30px;
}
.values-list > .item {
  min-width: 270px;
}
.values-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 10px;
}
.icon-values {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.work-list {
  display: flex;
}
.work-list > .item {
  width: 100%;
  height: 100%;
  position: relative;
}
.work-description-container {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 27px;
  padding-bottom: 27px;
}
.work-description {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.work-list > .item + .item,
.team-list > .item + .item,
.values-list > .item + .item {
  margin-left: 30px;
}
.team {
  background-color: var(--sand-color);
  display: flex;
  justify-content: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.member-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.team-list {
  display: flex;
  justify-content: center;
}
.team-list > .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
.team-head {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}
.team-icon-list > .icon-list + .icon-list {
  margin-left: 10px;
}
.team-icon-list .icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social {
  fill: #afb1b8;
}

.team-icon-list .icon-link:hover,
.team-icon-list .icon-link:focus {
  background-color: var(--btn-color);
  border-radius: 50%;
}
.icon-link:hover .icon-social,
.icon-link:focus .icon-social {
  fill: var(--white-color);
}
.title-clients {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.clients-list-icon + .clients-list-icon {
  margin-left: 30px;
}
.clients-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--btn-color);
  border: 1px solid var(--btn-color);
  border-radius: 4px;
}
.clients-link:hover .icon-clients,
.clients-link:focus .icon-clients {
  fill: var(--btn-color);
}
.icon-clients {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER */
.footer,
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: var(--grey-color);
  font-style: normal;
}
.footer-link .link {
  color: var(--white-color);
  opacity: 0.6;
}
.footer-link > .item {
  margin-top: 9px;
}

.studio-logo {
  color: var(--white-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}
.footer > .container {
  display: flex;
}
.footer-container > .logo {
  margin-bottom: 20px;
  display: inline-block;
}
.connect-box {
  justify-content: center;
  margin-left: 70px;
}
.connect {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.footer-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.footer-icon-list > .icon-footer + .icon-footer {
  margin-left: 10px;
}
.icon-footer > .icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.icon-footer-social {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-list .icon-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-list .icon-link:hover,
.footer-icon-list .icon-link:focus {
  background-color: var(--btn-color);
}
.icon-link:hover .icon-footer-social,
.icon-link:focus .icon-footer-social {
  fill: var(--white-color);
}

.follow {
  margin-left: 93px;
}
.follow-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.form-follow {
  display: flex;
}

.label-follow {
  margin-right: 12px;
  position: relative;
  display: block;
  width: 358px;
  height: 50px;
}
.label-follow:focus-within > .label-text {
  opacity: 0;
}
.input-follow:not(:placeholder-shown) + .label-text {
  opacity: 0;
}
.label-text {
  position: absolute;
  top: 15px;
  left: 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.input-follow {
  width: 100%;
  height: 100%;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-color);
}

.button-follow {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button-follow > .text {
  margin-right: 10px;
}

/* PORTFOLIO */
.filter-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--sand-color);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:focus,
.filter-button:hover {
  color: var(--white-color);
  background-color: var(--btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
.examples-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 4px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list > .item + .item {
  margin-left: 8px;
}
.examples > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.examples-item:hover .examples-description-text {
  transform: translateY(0);
}
.examples-wrap {
  position: relative;
  overflow: hidden;
  pointer-events: none;
}
.examples-description-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);
}

.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}
.content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.examples-link {
  display: block;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
